<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-zai.png" alt="logo" /></a>
      </div>
      
      <div class="card my-5">
          <div class="card-body">
            <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
            
            <form [formGroup]="forgetForm">
              <span class="mb-4">
                Enter your email and we'll send you instructions
                on how to reset your password.
              </span>
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-user"></i></span>
                  <input formControlName="email" type="email" class="form-control" id="username" placeholder="Username" (input)="clearDangerMessage()"required>
                </div>
               <div class="text-danger">
                  {{ getEmailErrorMessage() }}
                </div>
              </div>

           <div *ngIf="showError" class="error-message">
                Email address not found
              </div>
            
            
            <nav>
              <ul>
                <li>
                  <!--<button (click)="submit()" type="submit" class="btn btn-primary" >Submit</button>-->
                  <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" class="btn btn-primary">Submit</button>
                  <button (click)="cancel()" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancel</button>
                  <span></span><span></span><span></span><span></span>
                </li>
              </ul>
            </nav>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="auth-footer row">
  <div class="col-auto my-1">
    <li class="list-inline-item"><a href="https://www.zai.tn/#!/contact" target="_blank">Contact us</a></li>
  </div>
</div>
</div>
