<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-zai.png" alt="logo" /></a>
      </div>
      
      <div class="card my-5">
        <div class="card-body">
          <h3 class="text-3xl text-center font-semibold py-5">Password Reset</h3>
          
          <form [formGroup]="formReset">
            <div class="form-group mb-3">
              <div class="input-group">
                <label class="form-label" for="b-pass">E-mail</label>
              </div>
              <div class="input-group">
                <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-user"></i></span>
                <input formControlName="email" type="email" class="form-control" id="username" placeholder="E-mail" required>
              </div>
              <div class="text-danger">
                {{ getEmailErrorMessage() }}
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="input-group">
                <label class="form-label" for="b-pass">Password</label>
              </div>
              <div class="input-group">
                <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-lock"></i></span>
                <input formControlName="password" type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" placeholder="Password" id="Password">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary button-eye" type="button" (mousedown)="startHoldTimer()" (mouseup)="stopHoldTimer()" (mouseleave)="stopHoldTimer()" (click)="togglePasswordVisibility()">
                        <i class="ti ti-eye"></i>
                    </button>
                </div>
              </div>
              <div class="text-danger">
                {{ getPasswordErrorMessage() }}
              </div>
            </div>

            <div class="form-group2 mb-3"> 
              <div class="input-group">
                <label class="form-label" for="b-pass">Confirm Password</label>
              </div>
              <div class="input-group">
                <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-lock"></i></span>              
                <input formControlName="confirmPassword" type="{{ hidePassword2 ? 'password' : 'text' }}" class="form-control" placeholder="Password" id="b-pass">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary button-eye" type="button" (mousedown)="startHoldTimer()" (mouseup)="stopHoldTimer()" (mouseleave)="stopHoldTimer()" (click)="togglePasswordVisibility2()">
                        <i class="ti ti-eye"></i>
                    </button>
                </div>
              </div>
              <div class="text-danger">
                  {{ getPasswordErrorMessage() }}
              </div>
            </div>
            <div class="text-danger" *ngIf="!passwordsMatch()">
              Passwords do not match
            </div>
          </form>

          <nav class="text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <button (click)="resetPassword()" [disabled]="formReset.invalid" [class.disabled]="formReset.invalid" class="btn btn-primary">Submit</button>
              </li>
              <li class="list-inline-item">
                <button routerLink="/login" class="btn btn-outline-white with-border">Cancel</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="auth-footer row"> 
    <div class="col my-1">
      <p class="m-0">Copyright © <a href="https://www.zai.tn/" target="_blank">Zai.tn</a></p>
    </div>
    <div class="col-auto my-1">
      <ul class="list-inline footer-link mb-0">
        <li class="list-inline-item"><a href="https://www.zai.tn/" target="_blank">Home</a></li>
        <li class="list-inline-item"><a href="https://www.zai.tn/#!/contact" target="_blank">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
          <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
        </div>
        
        <div class="card my-5">
          <div class="card-body">
            <h3 class="text-3xl text-center font-semibold py-5">Password Reset</h3>
            
            <form [formGroup]="formReset ">
              <div class="form-group mb-3">
                <div class="input-group">
                  <label class="form-label" for="b-pass"> Email*</label>
                  <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-user"></i></span>
                  <input formControlName="email" type="email" class="form-control" id="username" [value]="email" placeholder="Username" required>
                </div>
             <div class="text-danger">
                  {{ getEmailErrorMessage() }}
                </div>
                <div *ngIf="showError" class="error-message">
                Email address not found
              </div>
              </div>
            
                <div class="form-group mb-3">
                    <div class="input-group">
                        <label class="form-label" for="b-pass"> Password*</label>
                      <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-lock"></i></span>              
                      <input formControlName="password" type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" placeholder="Password" id="Password">
                      <img src="../../../../assets/images/eye-open.png" alt="" id="eyeicon" (click)="togglePasswordVisibility()" [class.hide]="hidePassword">
                    </div>
                    <div class="text-danger">
                      {{ getPasswordErrorMessage() }}
                    </div>
                  </div>
  
              
  
              <div class="form-group2 mb-3"> 
                <label class="form-label" for="b-pass">Confirm Password*</label>
                <span class="input-group-text" style="font-size: 24px; font-weight: bold;"><i class="ti ti-lock"></i></span>              

                <input formControlName="confirmPassword" type="{{ hidePassword2 ? 'password' : 'text' }}" class="form-control" placeholder="Password" id="b-pass">
                <img src="../../../../assets/images/eye-open.png" alt="" id="eyeicon" (click)="togglePasswordVisibility2()" [class.hide]="hidePassword2">
                <div class="text-danger">
                    {{ getPasswordErrorMessage() }}
                  </div>
              </div>
              <div class="text-danger" *ngIf="!passwordsMatch()">
                Passwords do not match
              </div>
              <div *ngIf="tokenExpiredError" class="error-message">
                The password reset link has expired. Please request a new one.
              </div>
              
            </form>
          
            <nav>
              <ul>
                <li>-->
                  <!--<button (click)="submit()" type="submit" class="btn btn-primary" >Submit</button>
                  <button (click)="resetPassword()" [disabled]="formReset .invalid" [class.disabled]="formReset .invalid" class="btn btn-primary">Submit</button>
                  <button routerLink="/login" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancel</button>
                  <span></span><span></span><span></span><span></span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  
    <div class="auth-footer row">
      <div class="col-auto my-1">
        <li class="list-inline-item"><a href="https://www.zai.tn/#!/contact" target="_blank">Contact us</a></li>
      </div>
    </div>
  </div>
  -->